@model SistemaVendas.Models.ViewModels.VendaFormViewModel

@{
    ViewData["Title"] = "Registrar uma Venda";
}

<h2>@ViewData["Title"]</h2>

<br />
<div class="row">
    <div class="col-md-5">
        <form asp-controller="Venda" asp-action="Registrar">

            <div class="form-group">
                <label>Cliente</label>
                <select asp-for="venda.ClientesId" class="form-control" asp-items="@(new SelectList(Model.clientes, "Id", "Nome"))"></select>
                <span asp-validation-for="venda.ClientesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Vendedor</label>
                <select asp-for="venda.VendedoresId" class="form-control" asp-items="@(new SelectList(Model.vendedores, "Id", "Nome"))"></select>
                <span asp-validation-for="venda.VendedoresId" class="text-danger"></span>
            </div>
            <label>Produtos</label>
            <div class="form-group">
                <div class="col-lg-6">
                    <select class="form-control" id="ComboProdutos">
                        @{
                            foreach (var item in (List<Produtos>)ViewBag.ListaProdutos) {
                                <option value="@item.Id">@item.Nome | @item.VlUnitario</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" value="1" id="txtQtd" />
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-primary" onclick="AdicionarProduto()">Adicionar</button>
                </div>
            </div>
            <br /><br />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Cod. Produto</td>
                        <td>Nome</td>
                        <td>Quantidade</td>
                        <td>Valor Unitário</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody id="ListaProdutos"></tbody>
            </table>

            <div style="float:left; font-size:22px;">Total R$</div>
            <div style="float:left; font-size:22px; margin-left:5px"; id="DivTotal">0.00</div>

            <input type="hidden" asp-for="venda.Total" id="txtTotalVenda" />

            <br /><br />

            <textarea style="display:none;" asp-for="venda.ListaProdutosVenda" id="ListaProdutosVenda"></textarea>

            <button type="submit" class=" btn btn-block btn-success">Cadastrar</button>
        </form>
        <br />
        <a asp-action="Index">Voltar</a>
    </div>
</div>


<script>
    var Itens = new Object();
    Itens.Produtos = new Array();

    var CodigoProduto = document.getElementById("ComboProdutos");
    var QtdProduto = document.getElementById("txtQtd");
    var ListaProdutos = document.getElementById("ListaProdutos");
    var totalVenda = document.getElementById("DivTotal");
    var ListaProdutosVenda = document.getElementById("ListaProdutosVenda");
    var TotalDBvenda = document.getElementById("txtTotalVenda");

    function AdicionarProduto() {

        var Desc = CodigoProduto.options[CodigoProduto.selectedIndex].text;
        var arrayDescVL = Desc.split('|');
        var total = (arrayDescVL[1].replace(",", ".") * QtdProduto.value)
        total = Math.round(total * 100) / 100;

        Itens.Produtos.push({
            "CodigoProduto": CodigoProduto.value,
            "DescricaoProduto": arrayDescVL[0],
            "QtdProduto": QtdProduto.value,
            "ValorUnitario": arrayDescVL[1],
            "Total": total
        });


        ListaProdutosVenda.innerHTML = JSON.stringify(Itens.Produtos);

        var produto = "<tr>" +
            "<td>" + CodigoProduto.value + "</td>" +
            "<td>" + arrayDescVL[0] + "</td>" +
            "<td>" + QtdProduto.value + "</td>" +
            "<td> R$" + arrayDescVL[1] + "</td>" +
            "<td> R$ " + total + "</td>" +
            "</tr>";

        ListaProdutos.innerHTML += produto;
        var totalGeral = Math.round((totalVenda.innerText * 1 + total) * 100) / 100;
        totalVenda.innerHTML = totalGeral;
        TotalDBvenda.value = totalGeral.toString().replace(".", ",");
      
    }
</script>

