
@{
	ViewData["Title"] = "Detalhes";
}
@model SistemaVendas.Models.Produtos

<h2>Detalhes/Clientes</h2>

<div class="row">
	<div class="col-md-6">
		<div>
			<hr />
            <dl class="dl-horizontal">
                <dt>
                    Nome
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt>
                    Descrição
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt>
                    Valor Unitário
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.VlUnitario)
                </dd>
                <dt>
                    Quantidade
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Quantidade)
                </dd>
                <dt>
                    Unidade de Medida
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UnidadeMedida.medida)
                </dd>
                <dt>
                    Foto
                </dt>
                <dd>
                    <img src=" @Html.DisplayFor(model => model.LinkFoto)" width="25" height="35" />
                </dd>
            </dl>
		</div>
	</div>
	</div>
	<div>
		<a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
		<a asp-action="Index">Voltar</a>
	</div>

